@model IEnumerable<PCMS_Library.pcms_campaign>

@{
    ViewBag.Title = "EditCampaign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("EditCampaign", "Home", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    foreach (var item in @Model)
    {
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Edit Campaign</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class='col-md-6'>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Campaign Name:<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="campaign_name" value="@item.CAMPAIGN_NAME" name="campaign_name" pattern="[0-9a-zA-Z ]{2,25}" title="maximum 25 characters allowed" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="heard" class='control-label col-md-3 col-sm-3 col-xs-12'>Start Date<span class="required">*</span>:</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class=" xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" value="@item.CAMPAIGN_START_DATE.ToString()" id="single_cal1" name="startdate" placeholder="First Name" aria-describedby="inputSuccess2Status">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Campaign Desc:
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <textarea id="last-name" name="Description" class="form-control col-md-7 col-xs-12">@item.CAMPAIGN_DESCRIPTION</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Campaign URL:<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="urlnamecm" name="campaignurl" value="@item.CAMPAIGN_URL" pattern="[a-zA-Z-_#0-9\\/.:]{2,1500}" title="only alphanumeric with -_#/ special characters allowed" class="form-control col-md-7 col-xs-12" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="heard" class='control-label col-md-3 col-sm-3 col-xs-12'>Design/Content:</label>
                                    <div class='col-md-6 col-sm-6 col-xs-12'>
                                        <select id="design_content" name="design_content" class="form-control">
                                            <option value="">Choose..</option>
                                            <option value="Design" @item.=="Design"? selected:"">Design</option>
                                            <option value="Content" @item.=="Content"? selected:"">Content</option>
                                        </select>
                                    </div>
                                </div>
                                @if (Convert.ToInt16(item.CAMPAIGN_DESIGN_ID)!=0)
                                {
                                    <div class="form-group" id="design_list">
                                        <label for="heard" class='control-label col-md-3 col-sm-3 col-xs-12'>Design List:</label>
                                        <div class='col-md-6 col-sm-6 col-xs-12'>
                                            @{Html.RenderAction("DesignTemplates", "Home");}
                                        </div>
                                    </div>
                                }
                                @if (Convert.ToInt16(item.CAMPAIGN_CONTENT_ID) != 0)
                                {
                                    <div class="form-group" id="content_list">
                                        <label for="heard" class='control-label col-md-3 col-sm-3 col-xs-12'>Content List:</label>
                                        <div class='col-md-6 col-sm-6 col-xs-12'>
                                            @{Html.RenderAction("ContentTemplates", "Home");}

                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <label for="heard" class='control-label col-md-3 col-sm-3 col-xs-12'>Popup:</label>
                                    <div class='col-md-6 col-sm-6 col-xs-12'>
                                        <select id="popup" name="popup" class="form-control">
                                            <option value="No Popup" @item.CAMPAIGN_POPUP_STATUS == "No Popup"? selected :"">No Popup</option>
                                            <option value="Entry Popup"  @item.CAMPAIGN_POPUP_STATUS == "Entry Popup"? selected :"">Entry Popup</option>
                                            <option value="Exit Popup"  @item.CAMPAIGN_POPUP_STATUS =="Exit Popup"? selected :"">Exit Popup</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="heard" class='control-label col-md-3 col-sm-3 col-xs-12'>Popup list:</label>
                                    <div class='col-md-6 col-sm-6 col-xs-12'>
                                        @{Html.RenderAction("PopupTemplates", "Home");}

                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                            </div>
                            <div class='col-md-6'>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Container ID:
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="idpk"  name="pkcamaign" value="@item.CAMPAIGN_ID" class="form-control hidden col-md-7 col-xs-12" />
                                        <input type="text" id="conatiner-name" name="containerid" value="@item.CAMPAIGN_CONTAINER_ID" class="form-control col-md-7 col-xs-12" />
                                    </div>
                                </div>
                                <fieldset>
                                    <div class="form-group">
                                        <label for="heard" class='control-label col-md-3 col-sm-3 col-xs-12'>End Date:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control has-feedback-left" id="single_cal2" name="endDate" value="@item.CAMPAIGN_START_DATE.ToString()" placeholder="First Name" aria-describedby="inputSuccess2Status2">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Campaign Status:</label>
                                    <input type="hidden" value="@item.CAMPAIGN_STATUS" id="statuss" name="campaingstatus" />
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div id="gender" class="btn-group campaign" data-toggle="buttons">
                                            <label class="btn btn-default status_selector" data-toggle-class="btn-default" data-value="Active" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="Active" data-id="Active" class="activet" value="Active" />
                                                Active
                                            </label>
                                            <label class="btn btn-default status_selector" data-toggle-class="btn-default" data-value="On hold" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="On hold" data-id="On hold" class="onholdt" value="On hold" />
                                                On hold
                                            </label>
                                            <label class="btn btn-default status_selector" data-toggle-class="btn-default" data-value="Enabled" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="Enabled" data-id="Enabled" class="enabledt" value="Enabled" />
                                                Enabled
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Redirect URL:
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="url-name" value="@item.CAMPAIGN_URL" name="redirecturl" pattern="[0-9a-zA-Z-_#\\/.:]{2,1500}" title="only alphanumeric with -_#/ special characters allowed" class="form-control col-md-7 col-xs-12" />
                                    </div>
                                </div>
                                <div class="form-group">

                                    <input type="hidden" id="rule" value="@item.CAMPAIGN_RULE_ID" />

                                    <input type="hidden" id="pop" value="@item.CAMPAIGN_POPUP_ID   " />

                                    <input type="hidden" id="designs" value="@item.CAMPAIGN_DESIGN_ID" />

                                    <input type="hidden" id="content" value="@item.CAMPAIGN_CONTENT_ID" />
                                    <label for="heard" class='control-label col-md-3 col-sm-3 col-xs-12'>Rule:</label>
                                    <div class='col-md-6 col-sm-6 col-xs-12'>
                                        @{Html.RenderAction("ListofRules", "Home");}
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#rulelist").val($("#rule").val());
        $("#popuplist").val($("#pop").val());
        $("#design").val($("#designs").val());
        $("#contentlist").val($("#content").val());

    });
</script>

